<!-- BEGIN MAIN CONTENT -->
<div data-ng-controller="ServiceController" class="margin-top-10">
    <div class="note note-success note-bordered">
        <h3>{{routeName}}</h3>
        <p>
            <span class="badge badge-danger" data-ng-show="hasAsyncResponse">异步响应</span>
            <span class="badge badge-success" data-ng-show="validateSession">登录验证</span>
            <span class="badge badge-info" data-ng-show="page">list类型</span>
            <span class="badge badge-info" data-ng-hide="page">ogject类型</span>
        </p>
        <p>{{server}}</p>
        <p>{{desc}}</p>

    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">请求参数</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th>
                                        参数名
                                    </th>
                                    <th>
                                        类型
                                    </th>
                                    <th>
                                        必填
                                    </th>
                                    <th>
                                        描述
                                    </th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="request in requests">
                                <td class="fit">
                                    {{request.name}}
                                </td>
                                <td>
                                    {{request.type}}
                                </td>
                                <td>
                                    <span class="" data-ng-class="{'label label-danger':request.must}">{{request.must}}</span>
                                </td>
                                <td>
                                    {{request.desc}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">响应状态</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th>
                                        状态
                                    </th>
                                    <th>
                                        类型
                                    </th>
                                    <th>
                                        异步响应
                                    </th>
                                    <th>
                                        描述
                                    </th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="responseCode in responseCodes">
                                <td class="fit">
                                    {{responseCode.code}}
                                </td>
                                <td>
                                    {{responseCode.type}}
                                </td>
                                <td>
                                    <span class="" data-ng-class="{'label label-danger':responseCode.asycn}">{{responseCode.asycn}}</span>
                                </td>
                                <td>
                                    {{responseCode.desc}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">响应参数</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th>
                                        参数名
                                    </th>
                                    <th>
                                        类型
                                    </th>
                                    <th>
                                        描述
                                    </th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="response in responses">
                                <td class="fit">
                                    {{response.name}}
                                </td>
                                <td>
                                    {{response.type}}
                                </td>
                                <td>
                                    {{response.desc}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">在线测试</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group" data-ng-repeat="request in requests">
                                <label>
                                    {{request.name}}
                                </label>
                                <input type="text" class="form-control" data-ng-model="testRequest[request.name]">
                            </div>
                            <button class="btn green-haze" data-ng-click="test()">submit</button>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <pre class="prettyprint">{{testInfo}}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->